.card {
  width: calc(100% / 2 - 20px);
  &-img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
  }
  &-title {
    margin-top: 16px;
  }
  //   &-role {
  //     margin-top: 2px;
  //   }
}

@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}
