.card {
  width: calc(100% / 2 - 20px);
  &-img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
  }
  &-title {
    margin-top: 16px;
  }
  &-role {
    margin-top: 8px;
    font-size: 14px !important;
  }
}

@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}
