@import "../../Style/style.scss";

.nav {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.3s;

  &-logo {
    width: 7%;
    padding: 10px 0px;
  }

  &-item {
    cursor: pointer;
    color: $fontColor;
  }
  &-items {
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-around;

    &-active {
      color: $primaryColor;
    }
    &-inactive {
      color: $fontColor;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & svg {
    display: none;
  }
}

@media (min-width: 769px) {
  .overlay {
    display: none;
  }
}

@media (max-width: 650px) {
  .nav {
    &-logo {
      width: 35px;
    }
  }
}

@media (max-width: 768px) {
  //Test overlay
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: $primaryColor;
  }

  // .overlay
  .closebtn {
    position: absolute;
    top: 40px;
    right: 45px;
    width: 35px;
    &:hover {
      fill: none;
    }
  }

  // This where my css starts
  .nav {
    &-items {
      display: none;
    }

    & svg {
      display: block;
    }
  }
}
