@import "../Style/style.scss";

.about {
  // margin-top: 120px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 120px;

  &-head {
    &::after {
      content: "";
      display: block;
      left: 0px;
      bottom: -12px;
      height: 6px;
      width: 35%;
      background-color: $primaryColor;
      transition: width 0.25s ease 0s;
    }
  }
}

@media (max-width: 768px) {
}
