$primaryColor: #fc6701;
$fontColor: #333d47;
$successColor: #27ae60;
$BackgroundColour: #fbfbfd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap");

.bd-text-w {
  font-family: "Inter", sans-serif;
  color: $fontColor;
  font-size: 16px;
}
.bd-text-w-btn {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 16px;
}
.hd-text-w {
  font-family: "Playfair Display", serif;
  color: $fontColor;
  font-size: 45px;
}

.line-btn-text-w {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: $fontColor;
}

.bd-text-success-w {
  font-family: "Inter", sans-serif;
  color: $successColor;
  font-size: 16px;
}

body {
  background-color: $BackgroundColour;
  color: $fontColor;
  & a {
    text-decoration: none;
    color: $fontColor;
  }
}

.container {
  margin: 0 auto;
  width: 75%;
}

.clearmargin {
  margin-top: 75px;
}

.margin-top-16 {
  margin-top: 18px;
}

.padding-left-16 {
  padding-left: 1rem;
}
