$primaryColor: #fc6701;
$fontColor: #333d47;
$successColor: #27ae60;
$BackgroundColour: #fbfbfd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap");

//Body text web
.bd-text-w {
  font-family: "Inter", sans-serif;
  color: $fontColor;
  font-size: 16px;
}
//Body text white button
.bd-text-w-btn {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 16px;
}
//Header text web
.hd-text-w {
  font-family: "Playfair Display", serif;
  color: $fontColor;
  font-size: 45px;
}

//Smaller header text web
.hd-text-w-smaller {
  font-family: "Playfair Display", serif;
  color: $fontColor;
  font-size: 32px;
}

//Line button text web
.line-btn-text-w {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: $fontColor;
}

//Bodt text succes web
.bd-text-success-w {
  font-family: "Inter", sans-serif;
  color: $successColor;
  font-size: 16px;
}

body {
  overscroll-behavior: none;
  background-color: $BackgroundColour;
  color: $fontColor;
  & a {
    text-decoration: none;
    color: $fontColor;
  }
}

.container {
  margin: 0 auto;
  width: 75%;
}

.clearmargin {
  margin-top: 75px;
}

.margin-top-16 {
  margin-top: 18px;
}

.padding-left-16 {
  padding-left: 16px;
}

//Media queries
/* Screen size 650px and below */
@media (max-width: 650px) {
  //layout
  .container {
    margin: 0 auto;
    width: 85%;
  }
  //Nav CSS

  //body css
  .bd-text-m {
    font-family: "Inter", sans-serif;
    color: $fontColor;
    font-size: 16px;
  }

  //Smaller header text mobile
  .hd-text-w-smaller {
    font-family: "Playfair Display", serif;
    color: $fontColor;
    font-size: 24px;
  }

  .hd-text-m {
    font-family: "Playfair Display", serif;
    color: $fontColor;
    font-size: 24px;
  }

  .line-btn-text-w {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: $fontColor;
  }

  .bd-text-success-m {
    font-family: "Inter", sans-serif;
    color: $successColor;
    font-size: 12px;
  }
  .margin-top-mobile {
    margin-top: 30%;
  }
  .mobile-break {
    display: none;
  }
  .padding-left-16 {
    padding-left: 8px;
  }
}
