@import "./reset.scss";

$primaryColor: #fc6701;
$fontColor: #333d47;
$successColor: #27ae60;
$BackgroundColour: #fbfbfd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap");

////////////ARTICLE FONTS///////////////
.article-bd-web-text {
  font-family: "Inter", sans-serif;
  color: $fontColor;
  font-size: 16px;
  line-height: 40px;
  // font-weight: 300;
}

.article-bd-header-text {
  font-family: "Inter", sans-serif;
  color: $fontColor;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

@media (max-width: 425px) {
  .article-bd-web-text {
    font-family: "Inter", sans-serif;
    color: $fontColor;
    font-size: 16px;
    line-height: 30px;
    // font-weight: 300;
  }
}

////////////ARTICLE FONTS///////////////

//Body text web
.bd-text-w {
  font-family: "Inter", sans-serif;
  color: $fontColor;
  font-size: 16px;
  line-height: 24px;
}
//Body text white button
.bd-text-w-btn {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 16px !important;
}
//Header text web
.hd-text-w {
  font-family: "Playfair Display", serif;
  color: $fontColor;
  font-size: 45px;
  line-height: 50px;
}

//Smaller header text web
.hd-text-w-smaller {
  font-family: "Playfair Display", serif;
  color: $fontColor;
  font-size: 32px;
}
.hd-text-w-smaller-small {
  font-family: "Playfair Display", serif;
  color: $fontColor;
  font-size: 25px;
  line-height: 35px;
}

//Line button text web
.line-btn-text-w {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: $fontColor;
}

//Bodt text succes web
.bd-text-success-w {
  font-family: "Inter", sans-serif;
  color: $successColor;
  font-size: 16px;
}

body {
  overscroll-behavior: none;
  background-color: $BackgroundColour;
  color: $fontColor;
  & a {
    text-decoration: none;
    color: $fontColor;
  }
}

.container {
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}

.clearmargin {
  margin-top: 75px;
}

.margin-top-16 {
  margin-top: 18px;
}

.margin-top-20 {
  margin-top: 24px;
}

.padding-left-16 {
  padding-left: 16px;
}

.padding-left-8 {
  padding-left: 8px;
}

/////////////////////////////////////////BADGES CSS///////////////////////
.design-badge {
  background-color: #fef3c7;
  color: #92400e !important;
  border-radius: 20px;
  padding: 4px 12px;
}

.dev-badge {
  background-color: #dbeafe;
  color: #1e40af !important;
  border-radius: 20px;
  padding: 4px 12px;
}

.faith-badge {
  background-color: #fbe5d7;
  color: #fc6701 !important;
  border-radius: 20px;
  padding: 4px 12px;
}

.lifestyle-badge {
  background-color: #e3daf2;
  color: #5b21b6 !important;
  border-radius: 20px;
  padding: 4px 12px;
}
//////////////////////////////////////////////BADGES CSS///////////////////////

//Media queries
/* Screen size 650px and below */
@media (max-width: 650px) {
  //layout
  .container {
    margin: 0 auto;
    width: 85%;
  }
  //Nav CSS

  //body css
  .bd-text-m {
    font-family: "Inter", sans-serif;
    color: $fontColor;
    font-size: 16px;
  }

  //Smaller header text mobile
  .hd-text-w-smaller {
    font-family: "Playfair Display", serif;
    color: $fontColor;
    font-size: 24px;
  }

  .hd-text-m {
    font-family: "Playfair Display", serif;
    color: $fontColor;
    font-size: 32px;
    line-height: 35px;
  }

  .line-btn-text-w {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: $fontColor;
  }

  .bd-text-success-m {
    font-family: "Inter", sans-serif;
    color: $successColor;
    font-size: 12px;
  }
  .margin-top-mobile {
    margin-top: 30%;
  }
  .mobile-break {
    display: none;
  }
  .padding-left-16 {
    padding-left: 8px;
  }
}

// Min screen size of 651 to 768
@media screen and (max-width: 769px) and (min-width: 651px) {
  .hd-text-w {
    font-size: 25px;
    line-height: 30px;
  }
  .bd-text-w {
    font-size: 12px;
    line-height: 1.5;
  }
  .bd-text-success-w {
    font-family: "Inter", sans-serif;
    color: #27ae60;
    font-size: 12px;
  }
  .green-active {
    align-items: center;
  }
  .bd-text-w-btn {
    font-size: 12px;
  }
  svg {
    width: 20px;
  }
  .hero-socials {
    margin-top: 20px;
  }
}
