@import "../../Style/style.scss";

.primary-btn {
  padding: 16px 24px;
  border: none;
  background-color: $primaryColor;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  &-img {
    padding-left: 12px;
    width: 40px;
  }
}
