@import "../../Style/style.scss";

.primary-btn {
  padding: 16px 24px;
  border: none;
  background-color: $primaryColor;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  &-img {
    padding-left: 12px;
    width: 28%;
  }
}

@media (max-width: 650px) {
  .primary-btn {
    padding: 16px 16px;
    &-img {
      padding-left: 8px;
      width: 30px;
    }
  }
}
